{# templates/pokemon_card/detail.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Card Details{% endblock %}

{% block body %}
<h1>{{ card.name }}</h1>
<div class="row">

  <div class="col-md-8 mb-4"> <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <span>ID: {{ card.id }}</span>
      <a href="{{ path('card_list') }}" class="btn btn-sm btn-outline-secondary">Back</a>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ card.name }}</h5>
      <p class="card-text mb-0">Types: {{ card.types | join(', ') }}</p>
      <div class="card-text mb-2">
        <span class="text-muted">Resistances:</span> 
        {{ card.resistances | default([]) | map(r => r.type) | join(', ') }}
      </div>
      <div class="card-text">
        <span class="text-muted">Weaknesses:</span> 
        {{ card.weaknesses | default([]) | map(w => w.type) | join(', ') }}
      </div>
      <p class="card-text">Attacks:</p>
      <ul class="list-group list-group-flush">
        {% for attack in card.attacks %}
        <li class="list-group-item">{{ attack.name }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<div class="col-md-4">
  <img src="{{ card.images.large }}" alt="{{ card.name }}" class="img-fluid">
</div>

</div>
{% endblock %}