{# templates/pokemon/list.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Pokémon Card List{% endblock %}


{% block body %}

  <div class="row">
    {% for card in cards %}
      <div class="col-sm-4 col-md-3 col-lg-2 mb-3">  <div class="card">
          <a href="{{ path('card_detail', {'id': card.id}) }}">
            <img src="{{ card.images.small }}" class="card-img-top" alt="{{ card.name }}">
          </a>
          <div class="card-body d-flex flex-column justify-content-between">
            <div class="card-title-container">
              <h5 class="card-title">{{ card.name }}</h5>
              <p class="card-text text-muted">ID: {{ card.id }}</p>
            </div>
            <p class="card-text mb-0">Types: {{ card.types | join(', ') }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

{% if totalPages > 1 %}
  <nav aria-label="Pokémon Card List Pagination">
    <ul class="pagination justify-content-center">
      {% if currentPage > 1 %}
        <li class="page-item">
          <a href="{{ path('card_list', {'page': currentPage - 1}) }}" class="page-link" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {% endif %}

      {% for page in pageRange %}
        <li class="page-item {% if page == currentPage %}active{% endif %}">
          <a href="{{ path('card_list', {'page': page}) }}" class="page-link">{{ page }}</a>
        </li>
      {% endfor %}

      {% if currentPage < totalPages %}
        <li class="page-item">
          <a href="{{ path('card_list', {'page': currentPage + 1}) }}" class="page-link" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}

{% endblock %}
